<blockquote
  cite="<%= citation_link %>"
  class="slp-pull-quote slp-text-grayscale-333 slp-text-center slp-max-w-xl slp-mx-auto"
  style="border: none;"
>
  <svg
    width="30"
    height="25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="slp-pull-quote__decoration slp-mx-auto slp-mb-8"
  >
    <path
      d="M10.79.19C4.07 3.48.85 8.59.85 15.17c0 5.74 2.24 9.17 6.58 9.17 3.08 0 5.39-2.24 5.39-5.74 0-3.15-2.45-5.11-5.39-5.11-.21 0-.49 0-.7.07 0-4.2 2.1-6.79 6.3-8.89L10.79.19zm16.59 0c-6.72 3.29-10.01 8.4-10.01 14.98 0 5.74 2.31 9.17 6.65 9.17 3.08 0 5.32-2.24 5.32-5.74 0-3.15-2.38-5.11-5.32-5.11-.21 0-.49 0-.7.07 0-4.2 2.1-6.79 6.3-8.89L27.38.19z"
      fill="#9B51E0"
    ></path>
  </svg>
  <p class="slp-pull-quote__paragraph slp-italic slp-text-xl slp-mb-8"><%= quote %></p>
  <cite
    class="slp-pull-quote__cite slp-not-italic slp-uppercase slp-leading-loose slp-text-xs"
  >
    <a href="<%= citation_link %>" data-ga-name="<%= source %>" data-ga-location="body"><%= source %></a>
  </cite>
</blockquote>
