- if partner.resources != nil 
  .col-md-12.resources.u-margin-top-md
    // We need to only include these h4 tags if the resource type exists
    - video_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Video"
        - if video_loop == 0
          %h4 
            %img{:alt => "", :class=>"icon", :src => "/images/icons/icon-video.svg"}
            Videos
          - video_loop = 1
        %a{ href: "#{article.url}", :"data-ga-name" => article.ga_name, :"data-ga-location" => article.ga_location }
          %p
            = article.title
            %span.arrow-head →
    - webcast_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Webcast"
        - if webcast_loop == 0
          - if video_loop == 1
            %hr.u-margin-top-sm.u-margin-bottom-sm
          %h4 
            %img{:alt => "", :class=>"icon", :loading=>"lazy", :src => "/images/icons/icon-webcast.svg"}/ 
            Webcasts
          - webcast_loop = 1
        %a{ href: "#{article.url}", :"data-ga-name" => article.ga_name, :"data-ga-location" => article.ga_location }
          %p
            = article.title
            %span.arrow-head →
    - whitepaper_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Whitepapers"
        - if whitepaper_loop == 0
          - if video_loop == 1 || webcast_loop == 1 
            %hr.u-margin-top-sm.u-margin-bottom-sm
          %h4 
            %img{:alt => "", :class=>"icon", :loading=>"lazy",:src => "/images/icons/icon-whitepapers.svg"}/
            Whitepapers
          - whitepaper_loop = 1
        %a{ href: "#{article.url}", :"data-ga-name" => article.ga_name, :"data-ga-location" => article.ga_location }
          %p
            = article.title
            %span.arrow-head →
    - case_study_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Case studies"
        - if case_study_loop == 0
          - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1
            %hr.u-margin-top-sm.u-margin-bottom-sm
          %h4 
            %img{:alt => "", :class=>"icon",:loading=>"lazy", :src => "/images/icons/icon-case-study.svg"}/
            Case studies
          - case_study_loop = 1
        %a{ href: "#{article.url}", :"data-ga-name" => article.ga_name, :"data-ga-location" => article.ga_location }
          %p
            = article.title
            %span.arrow-head →
    - reports_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Reports"
        - if reports_loop == 0
          - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1
            %hr.u-margin-top-sm.u-margin-bottom-sm
          %h4 
            %img{:alt => "", :class=>"icon", :loading=>"lazy",:src => "/images/icons/icon-report.svg"}/
            Reports
          - reports_loop = 1
        %a{ href: "#{article.url}", :"data-ga-name" => article.ga_name, :"data-ga-location" => article.ga_location }
          %p
            = article.title
            %span.arrow-head →
    - blog_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Blog"
        - if blog_loop == 0
          - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || reports_loop == 1
            %hr.u-margin-top-sm.u-margin-bottom-sm
          %h4 
            %img{:alt => "", :class=>"icon", :src => "/images/icons/icon-blog.svg"}/
            Blogs
          - blog_loop = 1
        %a{ href: "#{article.url}", :"data-ga-name" => article.ga_name, :"data-ga-location" => article.ga_location }
          %p
            = article.title
            %span.arrow-head →
    - podcast_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Podcast"
        - if podcast_loop == 0
          - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || reports_loop == 1 || blog_loop == 0
            %hr.u-margin-top-sm.u-margin-bottom-sm
          %h4 
            %img{:alt => "", :class=>"icon", :src => "/images/icons/icon-podcast.svg"}/
            Podcast
          - podcast_loop = 1
        %a{ href: "#{article.url}", :"data-ga-name" => article.ga_name, :"data-ga-location" => article.ga_location }
          %p
            = article.title
            %span.arrow-head →
    - books_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Books"
        - if books_loop == 0
          - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || reports_loop == 1 || blog_loop == 0 || podcast_loop == 1
            %hr.u-margin-top-sm.u-margin-bottom-sm
          %h4 
            %img{:alt => "", :class=>"icon", :src => "/images/icons/icon-book.svg"}/
            Books and eBooks
          - books_loop = 1
        %a{ href: "#{article.url}", :"data-ga-name" => article.ga_name, :"data-ga-location" => article.ga_location }
          %p
            = article.title
            %span.arrow-head →
    - articles_loop = 0
    - partner.resources.each do |article|
      - if article.type == "Articles"
        - if articles_loop == 0
          - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || reports_loop == 1 || blog_loop == 0 || podcast_loop == 1 || books_loop == 1
            %hr.u-margin-top-sm.u-margin-bottom-sm
          %h4 
            %img{:alt => "", :class=>"icon", :src => "/images/icons/icon-articles.svg"}/
            Articles
          - articles_loop = 1
        %a{ href: "#{article.url}", :"data-ga-name" => article.ga_name, :"data-ga-location" => article.ga_location }
          %p
            = article.title
            %span.arrow-head →
